@import url(./__info/profile__info.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__avatar-image/profile__avatar-image.css);
@import url(./__avatar-edit/profile__avatar-edit.css);
@import url(./__text/profile__text.css);
@import url(./__text-name/profile__text-name.css);
@import url(./__text-description/profile__text-description.css);
@import url(./__text-edit/profile__text-edit.css);
@import url(./__add-button/profile__add-button.css);

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 882px;
    min-height: 120px;
    margin: 0 auto;
    padding: 40px 0 50px;
}

@media screen and (max-width: 881px) {
    .profile {
        padding: 40px 19px 50px;
    }
}

@media screen and (max-width: 730px) {
    .profile {
        flex-direction: column;
    }
}

@media screen and (max-width: 619px) {
    .profile {
        padding: 42px 19px 36px;
    }
}