.popup__submit-button {
    padding: 0;
    border: solid 2px #000000;
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    width: 358px;
    height: 50px;
    margin: 14px auto 0;
    cursor: pointer;
    border-radius: 2px;
    transition: opacity .5s ease;
}

.popup__submit-button:hover {
    opacity: .8;
}

@media screen and (max-width: 619px) {
    .popup__submit-button {
        width: 200px;
        height: 40px;
        font-size: 14px;
        line-height: 17px;
    }
}