@import url(./__text/footer__text.css);

.footer {
    max-width: 882px;
    margin: 0 auto;
    padding-top: 66px;
    padding-bottom: 60px;
}

@media screen and (max-width: 881px) {
    .footer {
        padding-left: 19px;
        padding-right: 19px;
    }
}

@media screen and (max-width: 619px) {
    .footer {
        padding-top: 48px;
        padding-bottom: 36px;
    }
}