.popup__form-field {
    width: 358px;
    height: 63px;
    margin: 0 auto;
}

.popup__form-field:first-of-type {
    margin: 9px auto 0;
}

@media screen and (max-width: 619px) {
    .popup__form-field {
        width: 200px;
        font-size: 12px;
        line-height: 15px;
        height: 52px;
    }
}