.element__like {
    margin: auto 0;
    padding: 0;
    background-image: url(../../../images/like.svg);
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    width: 20.76px;
    height: 18.13px;
    transition: opacity .5s ease;
}

.element__like:hover {
    opacity: .6;
}