@import url(./__item/popup__item.css);
@import url(./__item-image/popup__item-image.css);
@import url(./__item-name/popup__item-name.css);
@import url(./__container/popup__container.css);
@import url(./__close-button/popup__close-button.css);
@import url(./__container-name/popup__container-name.css);
@import url(./__container-form/popup__container-form.css);
@import url(./__form-field/popup__form-field.css);
@import url(./__entry-field-error/popup__entry-field-error.css);
@import url(./__entry-field-error/_active/popup__entry-field-error_active.css);
@import url(./__entry-field/popup__entry-field.css);
@import url(./__entry-field/_type/popup__entry-field_type_error.css);
@import url(./__submit-button/popup__submit-button.css);
@import url(./__submit-button/_disabled/popup__submit-button_disabled.css);

.popup {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s ease-in-out;
}